body {
    font-family: "Work Sans", sans-serif;
    background: url("https://acegif.com/wp-content/gifs/starfall-gif-46.gif");
}
.time { 
  margin:100px auto;
    background: rgb(12, 12, 12);
    color: rgb(162, 163, 64);
    border: 7px solid rgb(35, 20, 161);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 8px;
    text-align: center;
    width: 500px;
}
.hms {
    font-size: 68pt;
    font-weight: 200;
}
.ampm {
    font-size: 22pt;
}
.date {
    font-size: 15pt;
}